<h1>Listado de ofertas FP Andalucía</h1>

<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      GitHub's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>

  <div class="example-table-container">
    <table
      mat-table
      [dataSource]="data"
      class="example-table"
      matSort
      matSortActive="codigo"
      matSortDisableClear
      matSortDirection="desc"
    >
      <!-- Codigo Column -->
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row">{{ row.codigo }}</td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
      </ng-container>

      <!-- Direccion Column -->
      <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef>Dirección</th>
        <td mat-cell *matCellDef="let row">{{ row.direccion }}</td>
      </ng-container>

      <!-- Telefono Column -->
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Teléfono
        </th>
        <td mat-cell *matCellDef="let row">{{ row.telefono }}</td>
      </ng-container>

      <!-- Localidad Column -->
      <ng-container matColumnDef="localidad">
        <th mat-header-cell *matHeaderCellDef>Localidad</th>
        <td mat-cell *matCellDef="let row">{{ row.localidad }}</td>
      </ng-container>

      <!-- Codigo_Provincia Column -->
      <ng-container matColumnDef="codigo_provincia">
        <th mat-header-cell *matHeaderCellDef>Código provincia</th>
        <td mat-cell *matCellDef="let row">{{ row.codigo_provincia }}</td>
      </ng-container>

      <!-- Familia Column -->
      <ng-container matColumnDef="familia">
        <th mat-header-cell *matHeaderCellDef>Familia</th>
        <td mat-cell *matCellDef="let row">{{ row.familia }}</td>
      </ng-container>

      <!-- Codigo_Ciclo Column -->
      <ng-container matColumnDef="codigo_ciclo">
        <th mat-header-cell *matHeaderCellDef>Código ciclo</th>
        <td mat-cell *matCellDef="let row">{{ row.codigo_ciclo }}</td>
      </ng-container>

      <!-- Nombre_Ciclo Column -->
      <ng-container matColumnDef="nombre_ciclo">
        <th mat-header-cell *matHeaderCellDef>Nombre Ciclo</th>
        <td mat-cell *matCellDef="let row">{{ row.nombre_ciclo }}</td>
      </ng-container>

      <!-- Tipo Column -->
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef>Tipo</th>
        <td mat-cell *matCellDef="let row">{{ row.tipo }}</td>
      </ng-container>

      <!-- Turno Column -->
      <ng-container matColumnDef="turno">
        <th mat-header-cell *matHeaderCellDef>Turno</th>
        <td mat-cell *matCellDef="let row">{{ row.turno }}</td>
      </ng-container>

      <!-- Bilingue Column -->
      <ng-container matColumnDef="bilingue">
        <th mat-header-cell *matHeaderCellDef>Bilingüe</th>
        <td mat-cell *matCellDef="let row">{{ row.bilingue }}</td>
      </ng-container>

      <!-- Dual Column -->
      <ng-container matColumnDef="dual">
        <th mat-header-cell *matHeaderCellDef>Dual</th>
        <td mat-cell *matCellDef="let row">{{ row.dual }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-paginator [pageSize]="30"></mat-paginator>
</div>
